@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.light-theme {
  --text-color: #000;
  --bg-color: #fff;
}

.dark-theme {
  --text-color: #fff;
  --bg-color: #1a202c;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gradient-light {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #f3f0fa 0.89%,
    #dad2f4 17.23%,
    #c0baf0 42.04%,
    #a79eeb 55.12%,
    #8b83e6 71.54%,
    #7364d7 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


.feature-card:hover {
  background: linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5) 100%);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5) 100%);
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

/* Add this to your CSS file or style section */
.enter-from-left
 {
  animation: enterFromLeftAnimation 1s forwards;
}

@keyframes enterFromLeftAnimation {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Add this to your CSS file or style section */
.enter-from-right {
  animation: enterFromRightAnimation 1s forwards;
}

@keyframes enterFromRightAnimation {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bottomUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.animate {
  /* Add your fadeInRight animation styles here */
  animation: fadeInRight 0.3s ease both;
}

.animate-fadeIn {
  /* Add your fadeIn animation styles here */
  animation: fadeIn 1s ease both;
}

.exit-to-left {
  animation: exitToLeft 0.3s ease;
}

@keyframes exitToLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}


.exit-to-right {
  animation: exitToRight 0.3s ease;
}

@keyframes exitToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}



//Feature Card CSS -->

.container .card .icon {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #2c73df;
}

.container .card .icon .fa {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 50px;
color: #fff;
}

.container .card .slide {
width: 300px;
height: 200px;
transition: 0.5s;
}

.container .card .slide.slide1 {
position: relative;
display: flex;
justify-content: center;
align-items: center;
z-index: 1;
transition: .7s;
transform: translateY(100px);
}

.container .card:hover .slide.slide1{
transform: translateY(0px);
}

.container .card .slide.slide2 {
position: relative;
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
box-sizing: border-box;
transition: .8s;
transform: translateY(-100px);
box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.container .card:hover .slide.slide2{
transform: translateY(0);
}

.container .card .slide.slide2::after{
content: "";
position: absolute;
width: 30px;
height: 4px;
bottom: 15px;
left: 50%;
left: 50%;
transform: translateX(-50%);
background: #2c73df;
}

.container .card .slide.slide2 .content p {
margin: 0;
padding: 0;
text-align: center;
}

.container .card .slide.slide2 .content h3 {
margin: 0 0 10px 0;
padding: 0;
font-size: 24px;
text-align: center;
} 

.cardbg{
  background: linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5) 100%); 
  box-shadow: inset rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }


/* Add this CSS to show the content on hover */
#services:hover .service-block {
  display: block;
}

/* Add this media query to hide the content on mobile view */
@media (max-width: 768px) {

  #services .service-block {
    display: block;
  }

  .container .card .slide.slide2 {
  margin-bottom: 40px;
transform: translateY(75px);
}

.feedback-card {
  background: linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5) 100%);
}

}
